@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Irish+Grover&display=swap");

body{
    overflow-x: hidden;
}

.pg-1{
    position: relative;
    width:100vw;
    height:100vh;
    background-color: #F6F6F6;
}

.txt-1{
position: absolute;
width: 958px;
height: 176px;
left: 244px;
top: 576px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 53px;

color: #000000;

}

.rec-2{
    background: rgba(0, 0, 0, 0.65);
    border-radius:50px;
    height:40px;
    left:254px;
    position:absolute;
    top:695px;
    width:145px;
}
.rec-2-1{
    position: absolute;
width: 145px;
height: 40px;
left: 463px;
top: 695px;

background: #F2EDED;
border-radius: 50px;
}

.txt-3{
    position: absolute;
    width: 120px;
    height: 17px;
    left: 304px;
    top: 707px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
}

.txt-4{
    position: absolute;
width: 155px;
height: 17px;
left: 481px;
top: 707px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;
}



.txt-2{
    position: absolute;
width: 438px;
height: 47px;
left: 244px;
top: 621px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 53px;

color: rgba(0, 0, 0, 0.26);
}

.img-1{
    position: absolute;
    width: 600px;
    height: 1323px;
    left: 460px;
    top: 109px;

    border-radius: 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}



-------------------2nd-----------------

.pg-2
{
    align-items: flex-start;
    background-color: #F6F6F6;
    border: none;
    display:flex;
    height:100vh;
    padding:134px 114px;
    width:100vw;
    overflow: hidden;
}



.img-2{
    border:0;
}

.txt-5{
    align-self: flex-start;
    color:rgba(0,0,0,1);
    font-family: Inter;
    font-size: medium;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    height:313px;
    width:872px;
}

.row{
    align-items: flex-start;
    display: flex;
    gap:88px;
    height:389px;
    margin-left: 114px;
    margin-top: 134px;
    min-width: 1382px;
}